<section class="personagem__detalhe">
    <div class="col s10 offset-s1">
        <div class="personagem__detalhe__bg" *ngFor=" let detalhe of detalhes ">
            <div class="row ">
                <div class="col s4 ">
                    <!-- btn voltar -->
                    <div class="personagem__detalhe__voltar ">
                        <a [routerLink]="[ '/'] " class="btn-floating pulse ">
                            <i class="large material-icons ">arrow_back</i></a>
                    </div>
                </div>
                <div class="col s4 ">
                    <div class="personagem__detalhe__perfil ">
                        Perfil
                    </div>
                </div>
                <div class="col s4 ">
                    <div class="personagem__detalhe__plus ">
                        <a class="btn-floating "><i class="material-icons ">add</i></a>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col s12 center-align ">
                    <!-- detalhe do personagem apenas uma foto com 2 textos -->
                    <div class="personagem__detalhe__pic ">
                        <img src="{{detalhe.thumbnail.path}}.{{detalhe.thumbnail.extension}} " alt=" " class="circle responsive-img profile_pic ">
                        <p> {{ detalhe.name }} </p>
                        <p> {{ detalhe.description }} </p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="cols 12 ">
                    <!-- abas om detalhes -->
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Series">
                            <h1>séries</h1>
                            <div class="" *ngFor="let series of  detalhe.series.items">
                                <p>Series: {{ series.name }}</p>
                            </div>
                        </mat-tab>
                        <mat-tab label="Comics">
                            <h1>Comics</h1>

                            <p *ngFor="let comics of  detalhe.comics.items">{{ comics.name }}</p>

                        </mat-tab>
                        <mat-tab label="Stories">
                            <h1>Stories</h1>
                            <div class="" *ngFor="let stories of  detalhe.stories.items">
                                <p>Series: {{ stories.name }}</p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>