//estrutura do layout
.container {
    @include flexbox;
    @include margin(0, auto);
    @include flex-direction(column);
    @include transition(all 0.5s ease);
    .row {
        width: 100%;
        @include flexbox;
        @include transition(all 0.5s ease);
    }
    @include breakpoints(mobile) {
        background: red;
    }
    @include breakpoints(tablet) {
        background: green;
    }
    @include breakpoints(desktop) {
        width: 1200px;
        background: gray
    }
}